html {
    display: grid;
}
body {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 50em;
    background-color: #112;
    color: #fff;
    grid-template-areas:
        ".  p  p  . " 
        "pr pr sn sn";
    justify-self: center;
}

body > #profile {
    grid-area: p;
    text-align: center;
}

#profile > img {
    width: 100%;
    border-radius: 100%;
}

body > #projects {
    grid-area: pr;
    display: grid;
}

body > #sns {
    grid-area: sn;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 3fr;
}

#sns > h2 {
    grid-area: 1 / span 2;
}

a {
    color: #aaf;
}